<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <!-- The breadCrumb for hierarchical navigation -->
      <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Categories</li>
      </ol>

      <div class="panel">
        <div class="panel-heading teal text-center">
          <h3 class="panel-title"> <b> Categories </b> </h3>
        </div>

        <div class="panel-body plain teal-text">
          <categories-list categories="catControl.cats"> </categories-list>
        </div>

      </div>
    </div>

  </div>
</div>
