<!-- The menu card as a display on the home page of the web-app -->
<div class="container">
  
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

          <div class="card">
              <a ui-sref="categories" class="no-underline">
                <div class="card-image">
                  <img class="img-responsive" src="../public/images/Menu.jpg">
                  <span class="card-title"> <b> Menu </b> </span>
                </div>

                <div class="card-content panel-heading teal text-center">
                  <b> Click to view the full Menu </b>
                </div>
              </a>
          </div>

        </div>
    </div>
</div>
