<!DOCTYPE html>
<html ng-app="valueCalculator">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../public/js/angular.min.js"></script>
    <script type="text/javascript" src="controllers/app.js"></script>
    <title>First angular js app</title>
  </head>
  <body ng-app="valueCalculator">
    <h1> Value Calculator: </h1>

    <div ng-controller="valueCalculatorController">
      <div>
        <input type="text"
          ng-model="name"
          ng-keyup="calculateValue();">
      </div>

      Your calculated value of the string is: {{value}}
    </div>

    <div ng-controller="DIController">
      <input type="text" ng-model="name" ng-blur="upper();">
    </div>

    <div ng-controller="bulbController">
      <button ng-click="changeBulbState()"> Bulb Switch </button>
      <br>
      <img ng-src="../public/images/bulb_{{stateOfBulb}}.jpg" width="200" height="300"/>
    </div>

    <div ng-controller="filterController">
      <!-- lecture about filters -->

      <p> {{amount | currency : "Rs " : 2}} </p>
      <p> {{filteredMessage}} </p>
    </div>

    <div ng-controller="repeatController">
      <!-- lecture about the repeat construct -->

      <ul>
        <li ng-repeat="item in ShoppingList">{{item}}</li>
      </ul>

    </div>

  </body>
</html>
